<div class="news">
  <h2>News</h2>
  {% if site.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign news = site.news | reverse %}
      {% for item in news limit: site.news_limit %}
        <tr>
          <!-- <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th> -->
          <td style="width: 12%;color:rgba(0,0,0,0.95); font-weight: 350;">{{ item.date | date: "%b %-d, %Y" }}</td>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
